<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skin</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a class="active" href="/create-skin-page">Create Skin</a>
    </div>
    <div class="form-add-new">
        <form action="/create-skill" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>Add new champions</legend>
                <div class="input-group d-none">
                    <label>ID Skill:</label>
                    <input type="text" name="id_skill">
                </div>
                <div class="input-group">
                    <label>ID Champion:</label>
                    <input type="text" name="id_champion">
                </div>
                <div class="input-group">
                    <label>Nội tại:</label>
                    <input type="text" name="passive">
                </div>
                <div class="input-group">
                    <label>Chi tiết:</label>
                    <input type="text" name="detail_passive">
                </div>
                <div class="input-group">
                    <input type="file" name="profile_pic" multiple>
                </div>
                <div class="input-group">
                    <label>Q:</label>
                    <input type="text" name="q">
                </div>
                <div class="input-group">
                    <label>Chi tiết:</label>
                    <input type="text" name="detail_q">
                </div>
                <div class="input-group">
                    <input type="file" name="profile_pic">
                </div>
                <div class="input-group">
                    <label>W:</label>
                    <input type="text" name="w">
                </div>
                <div class="input-group">
                    <label>Chi tiết:</label>
                    <input type="text" name="detail_w">
                </div>
                <div class="input-group">
                    <input type="file" name="profile_pic">
                </div>
                <div class="input-group">
                    <label>E:</label>
                    <input type="text" name="e">
                </div>
                <div class="input-group">
                    <label>Chi tiết:</label>
                    <input type="text" name="detail_e">
                </div>
                <div class="input-group">
                    <input type="file" name="profile_pic">
                </div>
                <div class="input-group">
                    <label>R:</label>
                    <input type="text" name="r">
                </div>
                <div class="input-group">
                    <label>Chi tiết:</label>
                    <input type="text" name="detail_r">
                </div>
                <div class="input-group">
                    <input type="file" name="profile_pic">
                </div>
                <div>
                    <button>Confirm</button>
                </div>
            </fieldset>
        </form>
        <form method="POST" action="/upload-profile-pic" enctype="multipart/form-data"></form>
    </div>
</body>

</html>