<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete A Champion</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create">Create Champions</a>
    </div>
    <div class="form-add-new">
        <form action="/delete-champion" method="post">
            <fieldset>
                <legend>Delete Champion</legend>
                <div class="input-group d-none">
                    <label>ID:</label>
                    <input type="text" name="idChampion" value="<%= championEdit.champion_id %>">
                </div>
                <div class="input-group">
                    <label>Are you sure to delete this Champion?</label>
                    <input type="text" name="name" value="<%= championEdit.name %>">
                </div>
                <div>
                    <button>Confirm</button>
                </div>
            </fieldset>
        </form>
    </div>

</body>

</html>